section.gameHeader {
    height: 100vh;
    width: 100%;
    background-image:
        radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
        url('./../../Assets/Images/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headerText {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerText>.headerTitle {
    z-index: -999;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
    font-size: calc(2rem + .6vw);
}

.headerText>.headerSubtitle {
    text-align: center;
    margin-bottom: 5rem;
    color: white;
    font-size: calc(0.8rem + 1.9vw);
}

.headerText>.headerButton {
    text-align: center;
}

.headerCaret {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    bottom: 0%;
    text-decoration: none;
}

.headerCaret>p {
    text-decoration: none;
    color: wheat;
}

.btnPlayNow {
    color: black;
    padding: 0.75rem 2rem;
    font-weight: 700;

    border-radius: 0.375rem;
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);

    background: linear-gradient(to bottom right, #ffc107, #ffe082, #ffc107, #ffe082, #ffc107);
    background-size: 200% 200%;
    border-color: transparent;
    transition: background-position .5s;
}

.bounceAnimation {
    animation: bounce-1 2s linear infinite
}

.gradationAnimation {
    animation: bg-gradation 3s linear infinite
}

@keyframes bounce-1 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bg-gradation {
    0% {
        background-position: 100% 100%;
    }

    25% {
        background-position: 75% 75%;
    }

    50% {
        background-position: 50% 50%;
    }

    75% {
        background-position: 25% 25%;
    }

    100% {
        background-position: 0% 0%;
    }
}

section.gameChoice {
    height: 100vh;
    width: 100%;
    background-image:
        radial-gradient(100% 45.57% at 50% 48.04%,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0) 60.63%,
            rgba(10, 10, 11, 1) 99.74%),
        url('./../../Assets/Images/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


section.gameFeature {
    height: 100vh;
    width: 100%;
    background-image:
        radial-gradient(100% 50.57% at 50% 50.04%,
            rgba(255, 255, 255, 0) 0%,
            rgba(0, 0, 0, 0) 60.63%,
            rgba(10, 10, 11, 1) 99.74%),
        url('./../../Assets/Images/features.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
}

.h1 {
    color: white;
    font-size: calc(1.575rem + 1.5vw)
}

.h2 {
    color: white;
    font-size: calc(1.325rem + .9vw);
}

.h4 {
    color: white;
    font-size: calc(1.275rem + .3vw);
}

.display2 {
    color: white;
    font-size: calc(1.375rem + 3.9vw);
    font-weight: 500;
    line-height: 1.2;
}

.textWarning {
    color: rgba(255, 193, 7, 1);
}

.offsetMd50 {
    margin-left: 50%;
}

.m0 {
    margin: 0;
}

.rowFlex {
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: flex-start;
}

.rowColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


@media (max-width:768px) {
    .offsetMd50 {
        margin-left: 5%;
    }
}